:root {
  --primary-color: #126e7d;
  --secondary-color: #102714;
  --titles-color: #6c757d;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}


@media (max-width: 576px){
  .work-photo{
    display: none;
  }
}

@media (max-width: 768px){
  h1{
      font-size:50px !important
  }
  h2{
      font-size: 30px !important;
  }
  .navigation-links a{
      width: 700px;
      text-align: center;
  }
}

.hero{
  text-align: center;
  background-color: var(--secondary-color);
  padding: 120px 20px;
  color: var(--titles-color);
}

.hero h1 {
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 3rem;
  }

  .hero img{
    max-width: 300px;

  }

  .hero p {
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: bold;
  }
  
.hero h2 {
    font-family: 'Playfair Display', serif;;
    font-weight: normal;
    font-size: 24px;
    margin-bottom: 3rem;
  }

  body {
    margin: 60px auto;
  }
  
  h1,
  h2
  {
    text-align: center;
    margin: 0;
  }
  
  p {
    background: var(--secondary-color);
    padding: 20px;
    border-radius: 4px;
    font-size: 18px;
    line-height: 1.5;
  } 
  
  .navigation-links {
    display: flex;
    margin-top: 40px;
    justify-content: center;
  }
  
  .navigation-links a {
    margin: 20px;
    border-radius: 4px;
    padding: 20px 15px;
    text-decoration: none !important;
    text-transform: capitalize;
  }

  .navigation-links a :hover{
    text-decoration: none;
  }
  
  .purple-button {
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
    color: white;
  }
  
  .about-link {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
  }
  
  .homepage-link {
    color: var(--primary-color);
    text-align: center;
    display: block;
  }
  
  .work-title{
    color: var(--titles-color);
    background-color: var(--secondary-color);
  }
  
  .email-link {
    display: flex;
    justify-content: center;
    color: var(--primary-color);
    font-size: 28px;
    text-decoration: none;
  }
  
  .email-link:hover {
    text-decoration: underline;
  }
  

  .homeButton{
    background-color: var(--primary-color);
    border-radius: 4px;
    color: white;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
  }

  .platforms{
    font-size: 40px;
  }

.work-inquiry{
  background: var(--secondary-color);
  color: var(--titles-color);
}

.work-inquiry .navigation-links{
  height: 60px;
  border-radius: 8px;
}

.work-inquiry div{
  line-height: 3;
}
.contact-footer{
  text-align: center;
  padding-top: 20px;
}
.contact-footer a{
  display: block;
  font-size: 30px;
  color: black;
  text-decoration: none;
}

.contact-footer i{
  color:var(--primary-color);
  font-size: 25px;
  margin: 15px
}